{% load static %}


{% if msg.is_ai %}
<div class="card me-4">
    <div class="card-header d-flex justify-content-end align-items-center py-0">
        <a class="" data-bs-toggle="collapse" href="#{{ msg.id }}" role="button" aria-expanded="false" aria-controls="{{ msg.id }}">
            <i class="bi bi-chevron-down"></i>
        </a>
    </div>

    <div class="collapse" id="{{ msg.id }}">
        <div class="card card-body bg-dark p-2">
            <code>{{ msg.sql_query }}</code>
        </div>
    </div>
    <div class="card-body bg-dark-subtle">
        <p class="card-text">
            {{ msg.text }}
        </p>
    </div>
</div>
{% else %}
<div class="card ms-4">
    <div class="card-body d-flex justify-content-end">
        <p class="card-text">
            {{ msg.text }}
        </p>
    </div>
</div>
{% endif %}