{% extends "base_email.html" %}
{% load static %}

{% block title %}
Trial expiring soon
{% endblock %}

{% block content %}
<div class="h1 text-center mb-5">{{ site_name }}</div>

<div class="h2 fw-bold mb-4">Trial Expiring Soon</div>
<p class="mb-3">Your trial period will be ending/expiring on {{ expiry_date.date }}</p>
<p class="mb-4">Click the button below to continue enjoying our service with a paid plan</p>
<a href="http://{{ domain }}{% url 'finances:pricing' %}" class="btn btn-dark btn-lg">Upgrade</a>
{% endblock %}
