{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                
                <h1 class="my-3">{% trans "Sign Up" %}</h1>
                
                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
                {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
                
                <form class="form-group signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                  <div class="d-grid mb-3">
                      <button class="btn btn-dark" type="submit">{% trans "Sign Up" %} &raquo;</button>
                  </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
