{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load django_htmx %}


{% block extra_css %}
<link href="{% static 'dashboard/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% include "dashboard/partials/_svg.html" %}

<nav class="navbar navbar-expand-md sticky-top bg-light flex-md-nowrap p-0 shadow" data-bs-theme="dark">

    <ul class="navbar-nav d-md-none">
        <li class="nav-item text-nowrap d-flex align-self-center">
            <button class="nav-link p-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-expanded="true" aria-controls="sidebarMenu" aria-label="Toggle navigation">
                <svg class="bi"><use xlink:href="#list" /></svg>
            </button>
        </li>
    </ul>

</nav>

<div id="dashboard-container">
    <div class="row g-0 h-100">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0">
            <div class="offcanvas-md offcanvas-start bg-dark text-white" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">iAnalyze</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-md-3 overflow-y-auto">
                    <nav class="navbar-dark">
                        <ul class="navbar-nav">
                            <li>
                                <div class="dropdown-center mx-2 d-grid">
                                    <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="pe-2"><i class="bi bi-chat"></i></span>
                                        New Chat
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" hx-get="{% url 'dashboard:data_add' 'db' %}" hx-push-url="true" hx-trigger="click" hx-swap="innerHTML" hx-target="#main-content">Database</a></li>
                                        <li><a class="dropdown-item" href="#">API</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="text-secondary small fw-bold text-uppercase px-3 mt-2">
                                    Structured
                                </div>
                            </li>
                            <li>
                                <a class="nav-link clearfix px-3 sidebar-link" data-bs-toggle="collapse" href="#DatabaseCollapse" role="button" aria-expanded="false" aria-controls="DatabaseCollapse">
                                    <span class="me-2"><i class="bi bi-server"></i></span>
                                    <span>Database</span>
                                    <span class="float-end right-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="collapse" id="DatabaseCollapse">
                                    <div>
                                        <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link clearfix px-3 sidebar-link" data-bs-toggle="collapse" href="#APICollapse" role="button" aria-expanded="false" aria-controls="APICollapse">
                                    <span class="me-2"><i class="bi bi-filter-circle"></i></span>
                                    <span>API</span>
                                    <span class="float-end right-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="collapse" id="APICollapse">
                                    <div>
                                        <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% comment %}
                            <li>
                                <a href="#" class="nav-link px-3 active">
                                    <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            {% endcomment %}

                            <li>
                                <hr class="dropdown-divider my-4">
                            </li>
                            <li>
                                <div class="text-secondary small fw-bold text-uppercase px-3">
                                    Unstructured
                                </div>
                            </li>
                            <li>
                                <a class="nav-link clearfix px-3 sidebar-link" data-bs-toggle="collapse" href="#S3Collapse" role="button" aria-expanded="false" aria-controls="S3Collapse">
                                    <span class="me-2"><i class="bi bi-bucket"></i></span>
                                    <span>S3</span>
                                    <span class="float-end right-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="collapse" id="S3Collapse">
                                    <div>
                                        <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link clearfix px-3 sidebar-link" data-bs-toggle="collapse" href="#DocumentCollapse" role="button" aria-expanded="false" aria-controls="DocumentCollapse">
                                    <span class="me-2"><i class="bi bi-layout-split"></i></span>
                                    <span>Document</span>
                                    <span class="float-end right-icon"><i class="bi bi-chevron-down"></i></span>
                                </a>
                                <div class="collapse" id="DocumentCollapse">
                                    <div>
                                        <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="#" class="nav-link px-3">
                                                    <span>Nested link</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <hr class="dropdown-divider my-4">
                            </li>
                            <li>
                                <div class="text-secondary small fw-bold text-uppercase px-3">
                                    Addons
                                </div>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-3">
                                    <span class="me-2"><i class="bi bi-bar-chart-line"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-3">
                                    <span class="me-2"><i class="bi bi-table"></i></span>
                                    <span>Tables</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <main class="d-flex flex-nowrap col-md-9 ms-sm-auto col-lg-10" id="main-content">
            {# chat/form element here #}
        </main>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}