{% extends "base.html" %}
{% load static %}
{% load price_filter %}

{% block extra_css %}
<link href="{% static "finances/pricing.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>



  <main class="container my-4">
    <div class="my-4 text-center">
        <h1>Pricing</h1>
        <p class="text-muted">Pick the price that suits you</p>
    </div>
    
    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month" aria-selected="true">Monthly</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-controls="pills-year" aria-selected="false">Yearly</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
          {% for price in monthly %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ price.product.name }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{ price.unit_amount|dollar }}<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  {% for feature in price.product.features %}
                  <li>{{ feature }}</li>
                  {% endfor %}
                </ul>
                <a type="button" class="w-100 btn btn-lg btn-outline-dark" href="{{ price.get_absolute_url }}">Subscribe</a>
              </div>
            </div>
          </div>
          {% endfor %}
          
          {% comment %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
              <div class="card-header py-3 text-bg-secondary border-dark">
                <h4 class="my-0 fw-normal">Pro</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                
                <a type="button" class="w-100 btn btn-lg btn-outline-dark">Get started</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
              <div class="card-header py-3 text-bg-dark border-dark">
                <h4 class="my-0 fw-normal">Enterprise</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 users included</li>
                  <li>15 GB of storage</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <a type="button" class="w-100 btn btn-lg btn-outline-dark">Contact us</a>
              </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          {% for price in yearly %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ price.product.name }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{ price.unit_amount|dollar }}<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  {% for feature in price.product.features %}
                  <li>{{ feature }}</li>
                  {% endfor %}
                </ul>
                <a type="button" class="w-100 btn btn-lg btn-outline-dark" href="{{ price.get_absolute_url }}">Subscribe</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <h2 class="display-6 text-center mb-4">Compare plans</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Free</th>
            <th style="width: 22%;">Pro</th>
            <th style="width: 22%;">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Public</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Private</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Permissions</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Sharing</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Unlimited members</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Extra security</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>


{% endblock %}